@tailwind base;
@tailwind components;
@tailwind utilities;


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: 5px;
}


.offscreen {
  position: absolute;
  left: -9999px;
}